<mat-toolbar color="primary">
  <span *ngIf="title$ | async as title">{{ title }}</span>
  <span class="spacer"></span>

  <!-- MSDS Menu -->
  <app-auto-open-menu>
    <button mat-button trigger>MSDS</button>
    <ng-container content>
      <button mat-menu-item [routerLink]="'/upload-msds'">Upload MSDS</button>
      <button mat-menu-item [routerLink]="'/manage-msds'">Manage MSDS</button>
    </ng-container>
  </app-auto-open-menu>

  <!-- Base data Menu -->
  <app-auto-open-menu>
    <button mat-button trigger>Base data</button>
    <ng-container content>
      <button mat-menu-item>Customers</button>
      <button mat-menu-item>Products</button>
    </ng-container>
  </app-auto-open-menu>

  <!-- Zenya Menu -->
  <app-auto-open-menu>
    <button mat-button trigger>Zenya</button>
    <ng-container content>
      <button mat-menu-item>List MSDS</button>
      <button mat-menu-item>Search MSDS</button>
      <a mat-button routerLink="/zenya-search">Zenya</a>
    </ng-container>
  </app-auto-open-menu>
</mat-toolbar>
