<mat-toolbar color="primary">
  <span *ngIf="title$ | async as title">{{ title }}</span>
  <span class="spacer"></span>


  <button mat-button [routerLink]="'/'">Home</button>

  <!-- MSDS Menu -->
  <app-auto-open-menu>
    <button mat-button trigger>Vibs</button>
    <ng-container content>
      <button mat-menu-item [routerLink]="'/upload-msds'">Upload Vib</button>
      <button mat-menu-item [routerLink]="'/manage-msds'">Manage Vib</button>
    </ng-container>
  </app-auto-open-menu>

  <app-auto-open-menu>
    <button mat-button trigger>B2B Order bevestiging</button>
    <ng-container content>
      <button mat-menu-item [routerLink]="'/B2B Mailbox'">Upload Vib</button>
      <button mat-menu-item [routerLink]="'/Orderbevestigingen'">Manage Vib</button>
    </ng-container>
  </app-auto-open-menu>

  <app-auto-open-menu>
    <button mat-button trigger>Db2-Euravib</button>
    <ng-container content>
      <button mat-menu-item [routerLink]="'/manage-euravib'">Manage Euravib</button>
    </ng-container>
  </app-auto-open-menu>

  <!-- Base data Menu -->
  <app-auto-open-menu>
    <button mat-button trigger>Base data</button>
    <ng-container content>
      <button mat-menu-item>Customers</button>
      <button mat-menu-item>Products</button>
    </ng-container>
  </app-auto-open-menu>

  <!-- Zenya Menu -->
  <app-auto-open-menu>
    <button mat-button trigger>Zenya</button>
    <ng-container content>
      <a mat-button routerLink="/zenya-search">Zenya search</a>
    </ng-container>
  </app-auto-open-menu>
</mat-toolbar>
